{
  "plugins": [
      ["@babel/plugin-proposal-optional-chaining", { "loose": false }],
      [
        "babel-plugin-root-import",
        {
          "rootPathSuffix": "src",
          "rootPathPrefix": "~/"
        }
      ]
  ]
}
